:root {
    /* Color Variables */
    --color-primary: #000;
    --color-secondary: #666;
    --color-accent: #F3B2F5;
    --color-background: #FFF799;
    --color-text: #fff;
    --color-text-secondary: #a7a7a7;
    --color-link-active: #6900ff;
    --color-outline: #000;

    /* Font Sizes */
    --font-size-small: 1em;
    --font-size-medium: 1.4em;
    --font-size-large: 1.8em;
    --font-size-xlarge: 2em;
    --font-size-xxlarge: 5rem;

    /* Spacing */
    --spacing-small: 2vh;
    --spacing-medium: 4vw;
    --spacing-large: 12vw;

    /* Border Radius */
    --border-radius: 25px;
}

/* Base Styles */
html {
    scroll-behavior: smooth;
    background-color: var(--color-background);
}

.language-switcher {

    position: absolute;
    top: 16px; /* Adjust the value to control the distance from the top */
    right: 16px; /* Adjust the value to control the distance from the right */
    background-color: #fff; /* Optional: background color for better visibility */
    padding: 5px 10px; /* Optional: padding for better click area */
    border-radius: 5px; /* Optional: rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for better visibility */
    font-size: 24px; /* Optional: font size */
}

.language-switcher a{
    text-decoration: none; 
}
.selectedLanguage {
    text-decoration: underline;
}
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

.brIphone{
    display: none;
}

.inner_body {
    overflow-x: hidden;
}

/* Link Styles */
a {
    outline-color: transparent;
}

a:link, a:visited {
    color: var(--color-primary);
}

a:focus, a:hover {
    text-decoration: none;
    background: var(--color-accent);
}

a:active {
    background: var(--color-link-active);
    color: var(--color-accent);
}

/* Header Styles */
.header {
    max-width: 100vw;
    background-color: var(--color-background);
    text-align: center;
    padding: var(--spacing-small) var(--spacing-medium);
    min-height: 57vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(img/Background1.png);
    background-repeat: repeat-y;
    background-size: 100vw;
}

.content-logo {
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-wrap: wrap-reverse;
}

.header-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.header-text {
    flex: 1;
    text-align: left;
}

.header h1 {
    font-family: 'Pirata One', cursive;
    margin: 0;
    font-size: var(--font-size-xlarge);
    opacity: 0.5;
    letter-spacing: 0.2rem;
}

.header h2 {
    font-family: 'Pirata One', cursive;
    margin: 0;
    font-size: var(--font-size-xxlarge);
    letter-spacing: 0.2rem;
    line-height: 95%;
}

.cta {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: var(--spacing-small);
    color: var(--color-secondary);
    width: 100%;
}

.cta-container, .partners {
    text-align: left;
    min-width: 200px;
    padding-right: var(--spacing-medium);
}

.cta-button {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    padding: 20px 40px;
    font-size: var(--font-size-large);
    cursor: pointer;
    border-radius: var(--border-radius);
    letter-spacing: 0.2rem;
}

.register {
    background-color: transparent;
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
}

.partner-artist {
    min-height: 18vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color: var(--color-text-secondary);
    background-color: #111;
    background-image: url(img/Background_white.png);
    background-repeat: repeat;
    background-size: 100vw;
}

.partners img {
    height: 200px;
    margin-right: 25px;
}

.partners a:hover {
    background: none;
}

.header-logo {
    margin-left:var( --spacing-medium);
    text-align: right;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-logo img {
    max-height: 80vh;
    min-height: 20vh;
    min-width: 250px;
}

/* Main Content Styles */
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 26vh;
}

.discordIMG{
    max-height: 50px;
    transform: translate(0,20px);
}

.text-section {
    background-image: url(img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-text);
    min-height: 20vh;
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-section p {
    font-size: var(--font-size-xlarge);
    padding: 0 var(--spacing-large);
    
    line-height: 2.5rem;
    outline: var(--color-outline) 1px;
}

.info {
    background-color: var(--color-background);
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.info-section {
    flex: 1;
    margin: 0 var(--spacing-large);
    font-size: var(--font-size-medium);
    min-width: 300px;
}

.image-section {
    flex: 1;
    text-align: left;
}

.image-section img {
    min-width: 100%;
    min-height: 100%;
}

.previous-events {
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-cards img {
    margin: 10px;
    height: 400px;
}

.carouselle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.carouselle img {
    width: 33%;
    max-height: auto;
    max-width: 100vw;
    min-width: 250px;
    padding: 0.25vw;
}

/* Newsletter Styles */
.newsletter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

#mc-embedded-subscribe-form input[type=checkbox] {
    display: inline;
    width: auto;
    margin-right: 10px;
}

#mergeRow-gdpr {
    margin-top: 20px;
}

#mergeRow-gdpr fieldset label {
    font-weight: normal;
}

#mc-embedded-subscribe-form .mc_fieldset {
    border: none;
    min-height: 0px;
    padding-bottom: 0px;
}

.newsletter h2 {
    font-size: var(--font-size-xlarge);
    margin-bottom: 10px;
}

.newsletter label {
    display: block;
    margin-bottom: 5px;
}

.newsletter input[type=email],
.newsletter input[type=text] {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.newsletter input[type=submit] {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: var(--color-primary);
    color: var(--color-text);
    cursor: pointer;
}

.newsletter .foot {
    text-align: center;
}

.newsletter .refferal_badge {
    width: 220px;
    height: 40px;
    display: flex;
    padding: 2px 0;
    justify-content: center;
    align-items: center;
}

/* Footer Styles */
.footer {
    background-color: var(--color-primary);
    color: var(--color-text);
    text-align: center;
    padding: 10px;
}

.impressum p {
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 480px) {
    .brIphone{
        display: block;
    }


    
    .header {
        background-image: url(img/Background3.png);
        background-repeat: no-repeat;
    }

    .header h1 {
        font-size: var(--font-size-small);
        text-align: center;
    }

    .header h2 {
        font-size: 2.2rem;
        text-align: center;
    }

    .header-logo img {
        max-height: 40vh;
        min-width: 150px;
    }

    .content-logo{
        margin-top: 30px;
    }

    .text-section p {
        padding: 0 4vw;
        font-size: var(--font-size-medium);
        text-align: center;
    }

    .partners {
        width: 100%;
        text-align: center;
    }

    .cta-container {
        width: 100%;
        text-align: center;
        padding-bottom: var(--spacing-small);
    }

    .cta-button {
        white-space: nowrap;
        font-size: 1.4em;
        padding: 25px 20vw;
        text-align: center;
    }

    .discordIMG{
        max-height: 20px;
        transform: translate(0,10px);
    }

    .partners{
        align-items: center;
        margin-right: 0;
    }
    .partners img {
        width: 50vw;
        height: auto;
        margin-right: 0;
    }

    .info-section {
        font-size: var(--font-size-small);
    }

    .newsletter {
        max-width: 100vw;
    }

    #mc_embed_signup {
        padding: 10px;
    }

    .newsletter h2 {
        font-size: 1.4em;
    }

    .newsletter input[type=email],
    .newsletter input[type=text] {
        padding: 6px;
    }

    .newsletter input[type=submit] {
        padding: 6px;
    }

    .carouselle img {
        width: 100%;
        max-height: auto;
        max-width: 100vw;
        min-width: 250px;
        padding: 0.25vw;
    }
}
